.read-button {
  margin-top: 10px;
}

.step {
  color: salmon;
  text-align: left;
  margin-left: 25px;
}

.step-detail {
  color: salmon;
  font-size: 20px;
  font-family: 'Muli', sans-serif;
  text-align: left;
  margin-left: 50px;
}

.command {
  color: black;
  margin-left: 50px;
  text-align: left;
}
