.headbanner {
  background-color: #FED766;
  color: #222222;
  font-family: 'Ubuntu Mono', monospace;
  padding-top: 100px;
  padding-bottom: 100px;
}

.banner-text-1 {
  font-size: 40px;
  font-weight: bold;
}

.banner-text-2 {
  font-size: 33px;
  font-weight: bold;
  color: salmon;
}
