.card-stack {
  margin-left: 10px;
  margin-right: 10px;
}

.info {
  color: salmon;
}

.read-button {
  background-color: salmon;
  margin-bottom: 10px;
}

.align-left {
  text-align: left;
  color: salmon;
}

.Container {
  width: 100%;
}

.image-container {
  margin-top: 30px;
  margin-left: 20px;
  width: auto;
  height: auto;
  margin-right: 20px;
  margin-bottom: 30px;
}

.article-image {
  max-width: 100%;
  max-height: 100%;
}
